{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
  <div class="container  mt-2 mx-3">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn me-2 custom-button"> &lArr; Back </a>
  </div>
<br>
  <div class="container"> 
      <div class="card">
        <div class="container-fluid d-flex align-items-center">
          <div class="flex-grow-1 text-center"> 
              <br>
            <h1 class="centered-heading">Add a new Item</h1>
          </div>
      </div>
      <hr>      
          <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label class="form-label">Item Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" id="desc" name="desc">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Price</label>
                    <div class="input-group">
                      <span class="input-group-text">Rs</span>
                      <input type="number" class="form-control" id="price" name="price">
                    </div>
                  </div>
                  <div class="mb-3">
                    <select name="cat">
                      <option selected disabled = 'true'> Category</option>
                      {% for c in caty %}
                      <option value="{{ c.id }}">{{c.id}} - {{c.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Image</label>
                      <input type="file" class="form-control" id="image" accept="image/*" name="image">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
        </div>
  </div>  

</body>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</html>

